/*
 * Theme Name: MXMovie Theme
 * Description: Provide display for MXMovie plugin.
 * Version: 0.1
 * Author: Tobi Martins
 * Author URI: https://www.linkedin.com/profile/view?id=186404149
*/

.footer {
	vertical-align: middle;
	background-color: #ffffff;
	height: 30px;
	width: 100%;
	position:  fixed;
	bottom: 0px;
}

.header {
	height: 500px;
	width: 100%;
	background-color: #101010;
}

.header_movie_img{
	background: url("http://t1.gstatic.com/images?q=tbn:ANd9GcRHzSaUCOKu1RwS-bfbaUeeo_I1JcBkiuJRjBElvJi7qsHXkUkJ") no-repeat center top;
}
.header_movie_text{
	padding-top: 20%;
	color: white;
}

.header_movie_text_back{
	background-color: #101010;
	opacity: 0.8;
}


.img-tumbnail {
        max-height: 200px;
        max-width: 250px;
}

.mx-box:hover{
	background-color: #edebeb;
}

.voffset  { 
	margin-top: 15px; 
} 
